@import '../../styles/variables';
.cityCompact {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 20vh;
	padding: 0 $default-air;
	cursor: pointer;
	h1 {
		font-size: $font-medium;
	}
	h2 {
		font-size: $font-x-large;
	}
	h4 {
		font-size: $font-x-small;
	}
}
