@import '../../styles/variables';
.weatherByHours {
	overflow-x: scroll;
	border-top: $black100 1px solid;
	border-bottom: $black100 1px solid;
	font-size: $font-x-small;

	&::-webkit-scrollbar {
		scrollbar-width: thin;
		background-color: $black100;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $black100;
	}
	li {
		text-align: center;
		padding: 0 $default-air;
	}
}
