//colors

$white: #fff;
$black100: rgba(black, 0.1);
$aqua500: #27d1ab;
$red400: #ef5350;

$Primary: $aqua500;
$Secondary: $red400;

//gutters
$default-air: 1rem; // default padding or margin for divs

//font size
$font-x-small: 1rem;
$font-small: 1.2rem;
$font-medium: 1.5rem;
$font-large: 2rem;
$font-x-large: 4rem;
$font-xx-large: 6rem;

//spinner
$offset: 187;
$duration: 1.4s;
