//index
//0 - Base Styles / Resets
//1 - Layout
//2 - background

@import './variables';
@import './mixins';

//*******************
// 0 - Base Styles
//*******************

body {
	margin: 0;
	font-size: 62.5%;
	font-family: sans-serif;
}

* {
	box-sizing: border-box;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-flex;
}

//*******************
// 1 - Layout
//*******************

.container {
	width: 100%;
	padding-bottom: $default-air * 4;
	min-height: 85vh;
	@include breakpoint-desktop() {
		margin-top: 54px;
		min-height: calc(100vh - 54px);
		padding-bottom: 0;
	}
}

.wrapper {
	width: 100%;
	@include breakpoint-tablet() {
		width: 768px;
		margin-left: auto;
		margin-right: auto;
	}
	@include breakpoint-desktop() {
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
}

//*******************
// 1 - Headers
//*******************
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.font-xx-large {
	font-size: $font-xx-large !important;
}
//****************
// 2 - background
//****************

.Despejado {
	color: $white;
	background: rgb(105, 185, 255);
	background: linear-gradient(
		0deg,
		rgba(105, 185, 255, 1) 0%,
		rgba(30, 136, 229, 1) 100%
	);
}

.Nublado {
	color: $white;
	background: rgb(177, 177, 177);
	background: linear-gradient(
		0deg,
		rgba(177, 177, 177, 1) 0%,
		rgba(82, 122, 158, 1) 100%
	);
}

.Lluvia {
	color: $white;
	background: rgb(133, 133, 133);
	background: linear-gradient(
		0deg,
		rgba(133, 133, 133, 1) 0%,
		rgba(56, 72, 87, 1) 100%
	);
}

.Nieve {
	color: $white;
	background: rgb(196, 196, 196);
	background: linear-gradient(
		0deg,
		rgb(196, 196, 196) 0%,
		rgba(56, 72, 87, 1) 100%
	);
}
